<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG">

    <test name="All Tests" preserve-order="false">
        <classes>
                      <class name="LoginTests"/>
                     <class name="CSVDataProviderTest"/>
                       <class name="ProfileTests"/>
                      <class name="SongsTests"/>
                      <class name="Homework17"/>
                      <class name="PlaySongs"/>
                      <class name="PlayListTests"/>
            <class name="CucumberRunner"/>


        </classes>
    </test>
</suite>